* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin-bottom: 6em;
}

div {
  text-align: center;
}

#weather_icon {
  height:128px;
  width:128px;
}

/* json */

#message_raw {
  text-align: left;
  max-width: 200px;
  margin: auto;
}

.j_string {
  color: green;
}

.j_number {
  color: darkorange;
}

.j_boolean {
  color: blue;
}

.j_null {
  color: magenta;
}

.j_key {
  color: red;
}

#temp_div {
  color: #999;
  font-size: 2em;
}

#accuracy {
  font-size: .75em;
  padding: .2em 1em;
  display: inline-block;
}

#accuracy.excellent {
  background-color: green;
  color: #fff;
}

#accuracy.good {
  background-color: blue;
  color: #fff;
}

#accuracy.adaquate {
  background-color: lightblue;
  color: #000;
}

#accuracy.poor {
  background-color: orange;
  color: #666;
}

#accuracy.awful {
  background-color: red;
  color: #DDD;
}

#accuracy.updating {
  background-color: #DDD;
  color: #000;
}

#main_info {
  display: none;
}

#data_error {
  margin: 3em auto;
  font-size: 1.5em;
  color: #009879;
}

#loading {
  color: #009879;
  margin-top: 3em;
  font-size: 1.5em;
}

#data_update_time {
  color: #666;
  font-size: .8em;
}

.units {
  color: #666;
  padding-left: .25em;
}

/* table */

table {
  max-width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 2em auto;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: #009879;
  color: #fff;
  text-align: left;
}

th,
td {
  padding: .5em 1em;
  text-align: left;
}

th span.units {
  color: #DDD;
  display: block;
  font-size: .8em;
  font-weight: 400;
  padding-left: 1em;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

th.int,
th.float,
th.seconds,
td.int,
td.float,
td.seconds {
  text-align: right;
}

div.buttons {
  margin-top: 1em;
}

#visualization {
  display: none;
}

menu{
  display:flex;
  align-items: center;
  justify-content: center;
}

li {
  width: 6em;
  background-color: #999;
  color: #fff;
  padding: .5em 0;
  margin: .2em;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

li:hover{
  background-color: #888;
}

li.selected {
  background-color: #009879;
}

canvas {
  margin-top: 1em;
}


#scroll_top div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#scroll_top img {
  height: 1.5em;
  width: 1.5em;
  color: #fff;
}

#scroll_top {
  color: #fff;
  background-color: #009879;
  position: fixed;
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  bottom: 2em;
  right: 2em;
  display: none;
}
