* {
  font-family: sans-serif;
  box-sizing: border-box;
}

div {
  text-align: center;
}

/* json */

#message_raw {
  text-align: left;
  max-width: 200px;
  margin: auto;
}

.j_string {
  color: green;
}

.j_number {
  color: darkorange;
}

.j_boolean {
  color: blue;
}

.j_null {
  color: magenta;
}

.j_key {
  color: red;
}

/* table */

table {
  border-collapse: collapse;
  margin: 2em auto;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: #009879;
  color: #fff;
  text-align: left;
}

th,
td {
  padding: .5em 1em;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

th.int,
th.float,
th.seconds,
td.int,
td.float,
td.seconds {
  text-align: right;
}

#options {
  padding: 3em 1em 1em 1em;
}

span.option {
  background-color:#ddd;
  color: #fff;
  padding: .5em 2em;
  display: inline-block;
  margin:.5em auto;
}
span.option.selected {
  background-color: #009879;
}
